body {
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}
.background-1 {
  width: 572px;
  height: 522px;
  background-color: #343a40;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.background-2 {
  width: 100%;
  height: auto;
  background-color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
}
.screen {
  width: 520px;
  height: 127px;
  background: #ced4da;
  border-radius: 20px;
  display: grid;
}
.problem {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #212529;
  border: none;
  background-color: transparent;
  font-size: 32px;
  margin: 10px;
}
.result {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 32px;
  background-color: transparent;
  border: none;
  color: #212529;
  margin: 0 10px 10px 10px;
}

.buttons {
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 40px;
}
.btns {
  width: 75px;
  height: 90px;
  font-style: normal;
  font-weight: 700;
}
.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.operations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}
.equal {
  grid-column: 1/3;
  background-color: #e76f51;
}
.c {
  background-color: #e76f51;
}
.equal:hover,
.c:hover {
  background-color: #a54932;
}
.equal:active,
.c:active {
  background-color: #803523;
}

button {
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
  border: none;
  border-radius: 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  line-height: 44px;
  color: white;
}
button:hover {
  background-color: #ced4da;
  transition: 0.3s;
}
button:active {
  background-color: #495057;
  transition: 0.1s;
}
